:root{
    --primary:#3b82f6;
    --orange:#fb923c;
    --red:#f87171;

    --bg:#0f172a;
    --card:#1e293b;
    --text:white;
    --border:#334155;
}

.stApp{
    background:var(--bg);
    color:white;
}

.title{
    text-align:center;
    font-size:3rem;
    font-weight:800;

    background:linear-gradient(
        90deg,
        var(--primary),
        var(--orange),
        var(--red)
    );

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.subtitle{
    text-align:center;
    color:#cbd5e1;
}

[data-testid="stSidebar"]{
    background:#111827;
}

.stChatMessage{
    border-radius:20px;
}

[data-testid="stChatMessageUser"]{
    background:linear-gradient(
        135deg,
        #2563eb,
        #3b82f6
    );
}

[data-testid="stChatMessageAssistant"]{
    background:var(--card);
    border:1px solid var(--border);
}

.stButton > button{
    border:none;
    border-radius:14px;

    background:linear-gradient(
        135deg,
        var(--orange),
        var(--red)
    );

    color:white;
    font-weight:700;
}

[data-testid="metric-container"]{
    background:var(--card);
    border:1px solid var(--border);
    border-radius:18px;
}